<ion-header>
  <ion-toolbar>
    <ion-title>Liste des oeuvres</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let oeuvre of oeuvres" [routerLink]="['/detail', oeuvre.id]">
    <h1 class='ion-text-center'>{{oeuvre.nom}}</h1>
    <img src={{oeuvre.image}} alt="">
  </ion-card>

  <ng-template #error>
    <app-error></app-error>
  </ng-template>

  <ng-template #loader>
    <app-loader></app-loader>
  </ng-template>
  
</ion-content>
